<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADGV" version="0.1.0.10" targetFramework="net45" />
  <package id="AutoMapper" version="6.2.2" targetFramework="net45" />
  <package id="Bunifu.UI.WinForms" version="5.2.3" targetFramework="net45" />
  <package id="eWAY.Rapid" version="1.6.3" targetFramework="net45" />
  <package id="Google.Apis" version="1.57.0" targetFramework="net45" />
  <package id="Google.Apis.Auth" version="1.57.0" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.57.0" targetFramework="net45" />
  <package id="Google.Apis.Drive.v3" version="1.57.0.2656" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
</packages>